body {
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.mission-outline {
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
}

.link-buttn {
    text-decoration: none;
    color: white;
    background-color: mediumvioletred;
    padding: 10px 20px;
    border-radius: 4px;
}

.mission-outline img {
    width: 80%;
}

#left-border {
    font-size: 50px;
    font-weight: 700;
    border-left: 4px solid navy;
    border-radius: 3px;
    padding-left: 10px;
}

span {
    color: orange;
}