body {
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
}

.flexible-container {
    margin: 100px 100px;
}

#mission-outline-flex {
    display: flex;
}

.mission-outline {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.link-buttn {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    background-color: mediumvioletred;
    padding: 10px 20px;
    border-radius: 4px;
}

.mission-outline img {
    width: 80%;
}

#left-border {
    font-size: 50px;
    font-weight: 700;
    border-left: 4px solid navy;
    border-radius: 3px;
    padding-left: 10px;
}

span {
    color: orange;
}

#mission-explore-flex {
    display: flex;
}

.explore-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.mission-explore {
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}

#mission {
    width: 33%;
    background-color: #d3eaf2;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

#vission {
    width: 33%;
    background-color: #7f8c8d;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

#goal {
    width: 33%;
    background-color: #f7f1e3;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.mission-explore img {
    width: 50%;
}

#mission-grownup-flex {
    display: flex;
}

.mission-grownup {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}


#mission-grownup-position {
    margin-top: 20px;
}

.mission-grownup img {
    width: 90%;
}

#mission-community-flex {
    display: flex;
}

.tag-line {
    font-size: 30px;
    font-weight: 700;
}

.mission-community {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;

}

.mission-community img {
    width: 80%;
}

#mission-bonus-flex {
    display: flex;
}

.mission-bonus {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.mission-bonus img {
    width: 100%;
}

footer {
    height: 200px;
    background-color: black;
}

.footer-area {
    text-align: center;
    color: white;
    padding-top: 20px;
}