body {
    font-family: 'Anek Latin', sans-serif;
    margin: 0;
}

.flexible-container {
    margin: 100px 100px;
}

#mission-outline-flex {
    display: flex;
}

.mission-outline {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

.link-buttn {
    text-decoration: none;
    color: white;
    background-color: mediumvioletred;
    padding: 10px 20px;
    border-radius: 4px;
}

.mission-outline img {
    width: 80%;
}

#left-border {
    font-size: 50px;
    font-weight: 700;
    border-left: 4px solid navy;
    border-radius: 3px;
    padding-left: 10px;
}

span {
    color: orange;
}

#mission-explore-flex {
    display: flex;
}

#explore-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.mission-explore {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

#mission {
    width: 33%;
    background-color: #d3eaf2;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

#vission {
    width: 33%;
    background-color: #7f8c8d;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

#goal {
    width: 33%;
    background-color: #f7f1e3;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

.mission-explore img {
    width: 50%;
}